{% extends 'base.html' %}

{% block title %}My lists{% endblock %}

{% block content %}
  <div class="container justify-content-center">
      <div class="image-container cropped1" >
        <img src="{{url_for('static' , filename='images/bg1.jpg')}}" class="rounded mx-auto d-block" alt="Working">
      </div>
      <div class="overlay-text">
        <h1>Index</h1>
      </div>
      <hr>
    {% for key in items %}
      <div class="accordion my-5" id="accordionExample">
        <div class="accordion-item">
          <h3 class="accordion-header">
            <button class="accordion-button " type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{key[1]}}" aria-expanded="true" aria-controls="collapse{{key[1]}}">
              {{ key[0] }}
            </button>
          </h3>
          <div id="collapse{{key[1]}}" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <ul>
                <div><strong> {{ items[key][0] }} <a href="{{ url_for('home' , DB=key[0]) }}" >here</a>.</strong></div>
                <div><strong> {{ items[key][1] }} <a href="{{ url_for('show' , DB=key[0]) }}" >here</a>.</strong></div>
              </ul>
            </div>
          </div>
        </div>
      </div>
    {% endfor %} 
  </div>
{% endblock %}