.gradient-background {
  background: linear-gradient(300deg, #7288af, #a1515d, #96564d);
  background-size: 180% 180%;
  animation: gradient-animation 18s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
/* Title */
#hd1 {
	font-weight: 500;
	font-size: 20pt;
	padding-top:	8%;
	padding-left: 20%;
	padding-right: 20%;	 
}
.bt-tle {
	width: 100%;
	font-weight: 500;
}
#iphone {
	padding-top: 5%;
	padding-right: 10%;
	height: 250pt;
}
/* Pricing */
#pricing {
	margin-top: 50pt;
}
/*  */
.icon-square {
  width: 3rem;
  height: 3rem;
  border-radius: 0.75rem;
}

.profile-img {
  height: 100px;
  border-radius: 50%;
}
