<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Add Book</title>
  </head>
  <body>
    <h1>Enter the book details.</h1>
			<hr>	
    <form action="" method="POST">
      <label>Book Name</label>
      <input type="text" name="bookname"/>
      <label>Book Author</label>
      <input type="text" name="author"/>
      <label>Personal Rating</label>
      <input type="text" name="rating"/>
      <label>Reading Year</label>
      <input type="text" name="year"/>
      <button type="submit">Add Book</button>
    </form>
  </body>
</html>
