<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Library</title>

  </head>
  <body>
    <h1>My Library</h1>
      <hr>
      <ul>
        {% for book in books %}
        <li>
          <h2> {{ book.name }} - - {{ book.author }} - - {{ book.rating }} - - {{ book.year }} - - <a href="{{ url_for('Erate' , id= book.id) }}">Edit rating</a> - - <a href="{{ url_for( 'delete' , id=book.id ) }}" >Delete</a> </h2>
        </li>
        {% endfor %}
      </ul>

    <a href="{{ url_for('add') }}"><h4>Add New Book</h4></a>
  </body>
</html>
